{% load static %}
<link rel="stylesheet" href="{% static "style.css" %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать</title>
</head>
<body>
    <header>
        <h1>Благотворительность и волонтерство </h1>
    </header>
    <main>
        <section>
            <h2>Добро пожаловать на наш сайт</h2>
        </section>
        <nav>
            <ul>
                <li><a href="/2">Пожертвования</a></li>
                <li><a href="/3">Волонтеры</a></li>
            </ul>
        </nav>
    </main>
    <footer>
        <p>Контактная информация: email@gmail.com</p>
    </footer>
</body>
</html>